@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-separator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: .1em;
  font-weight: 300;
}
.btn-separator>span {
  padding: 0 10px;
  background: white;
}
.mb-5 {
  margin-bottom: 5rem !important;
}
.a-link {
  color: rgb(97, 199, 97);
  text-decoration: underline;
  font-weight: bold;
}